<div id='page-wrapper'>
    <div class="mainConatiner">
        <div class="container-fluid">

            <div class="col-sm-12" style="margin-top: 100px;">
                <ul id="dashboardContainer">

                    <li class="col-sm-6 col-sm-offset-3 widgetContainer">
                        <div class="widget">
                            <div class="widgetHeader clearfix">
                                Gaurav Makkar
                            </div>
                            <div class="widgetBody">
                                <div class="widgetAttr clearfix">
                                    <span class="pull-left attr">
                                     Phone Number
                                    </span>
                                    <span class="pull-right">
                                    +919560765905
                                    </span>

                                </div>
                                <div class="widgetAttr clearfix">
                                    <span class="pull-left attr">
                                    Email
                                    </span>
                                    <span class="pull-right">
                                        gmakkar119@gmail.com
                                    </span>

                                </div>
                                <div class="widgetAttr clearfix">
                                    <span class="pull-left attr">
                                    GitHub
                                    </span>
                                    <span class="pull-right">
                                        https://github.com/gauravmakkar
                                    </span>

                                </div>
                            </div>
                            <div class="widgetFooter clearfix">
                             <span class="toolOptions pull-right">
                                 <span ng-click="editWidget(item.orderNo)" title="Edit this order"
                                       class="fa fa-lg fa-edit"></span>
                                 <span ng-click="removeWidget(item.orderNo)" title="Cancel order"
                                       class="fa fa-lg fa-remove"></span>
                             </span>
                            </div>
                        </div>
                    </li>


                </ul>

            </div>

        </div>
    </div>
</div>